.menu-sticky{
height: 48px;
position: fixed;
width: 100%;
z-index: 100;
top: 0;
left: 0;
background: linear-gradient(to right,#7d7a88 0,#a8a8a8 100%);
}
.menu-sticky-back-header{
display: inline-block;
float: left;
}
.menu-sticky-back{
display: inline-block;
color: #fff;
margin-left: 10px;
}
.menu-sticky-header{
display: inline-block;
margin-left: 10px;
color: #fff;
}
.menu-sticky-header-p{
    font-size:11px ;
}
.header-content-follow {
width: 50%;
float: right;
overflow: hidden;
}
.header-content-follow-p{
	float: left;
}
.header-content-follow-icons{
	float: right;
	margin: 10px 1px;
}
.header-content-follow-icons a{
	text-decoration: none;
    margin-left: 0.5em;
}
.header-content-follow .footer-title {
    float: left;
    color: #fff;
    font-size: 12px;
}
.header-content-follow .fa-facebook {
    color: #3b5998;
}
.fa-facebook::before {
    content: "\f09a";
}
.header-content-follow .fa-twitter {
    color: #00acee;
}
.fa-twitter::before {
    content: "\f099";
}
.header-content-follow .fa-instagram {
    color: #8a3ab9;
}
.fa-instagram::before {
    content: "\f16d";
}
.header-content-follow .fa-youtube {
    color: #c4302b;
}

.fa-youtube::before {
    content: "\f167";
}
.left-right-nav-bar{
height: 100%;
width: 100%;
}
.left-right-nav-bar-border-column {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
-moz-box-flex: 1;
}
.left-right-nav-bar-border-row {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: horizontal;
flex-direction: row;
align-content: flex-start;
flex: 1 1 0%;
-moz-box-flex: 1;
}
.left-nav-bar {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
width: 40%;
height: 66.7px;
min-height: 1612.43px;
margin-top: 20vw;
}
.left-nav-bar-scroller {
border-color: black rgb(239, 240, 245) black black;
border-style: solid;
border-width: 0px 1px 0px 0px;
border-image: none 100% / 1 / 0 stretch;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex: 1 1 0%;
-moz-box-flex: 1;
height: 66.7px;
min-height: 1612.43px;
overflow: scroll;
}
.left-nav-bar-square {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
place-content: flex-start center;
flex-shrink: 0;
height: 90px;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
background-color: rgb(239, 240, 245);
}
.left-nav-bar-div2 {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
}
.left-nav-bar-div3 {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
place-content: flex-start center;
flex-shrink: 0;
height: 100px;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
}
.left-nav-bar-square-svg{
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: block;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
font-size: 22px;
font-family: lzd_font_family;
width: 65.3333px;
margin-bottom: 8.16667px;
}
.left-nav-bar-square-dsc{
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: -webkit-box;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
font-size: 10px;
line-height: 15px;
text-align: center;
padding-left: 5.22667px;
padding-right: 5.22667px;
-webkit-line-clamp: 2;
overflow: hidden;
}
.right-nav-bar {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex: 1 1 0%;
-moz-box-flex: 1;
background-color: rgb(255, 255, 255);
padding-left: 20.9067px;
height: 667px;
min-height: 1612.43px;
}
.right-nav-bar-scroller {
border: 0px solid black;
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex: 1 1 0%;
-moz-box-flex: 1;
overflow: scroll;
}
.right-nav-bar-border {
border: 0px solid black;
position: relative;
box-sizing: border-box;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
margin-top: 20vw;
display: none;
}

div[data-spm="cate_1"] {
  display: block;
}
.right-nav-bar-submenu {
position: relative;
box-sizing: border-box;
display: flex;
-moz-box-orient: vertical;
flex-direction: column;
align-content: flex-start;
flex-shrink: 0;
border-color: rgb(218, 218, 218);
border-style: solid;
border-width: 0px 0px 1px;
}
.right-nav-bar-sub-submenu{
display:none;
}
.right-nav-bar-sub-submenu-a{
width: 100%;
height: fit-content;
text-decoration: none;
display: block;
padding: 10px;
color: rgb(132, 132, 132);
}
.right-nav-bar-submenu-p-a{
display: inline-block;
text-decoration: none;
color: rgb(33, 33, 33);
margin-left: 5px;
}
.right-nav-bar-submenu-p-i{
float: right;
font-size: 10px;
margin: 4vw 10px;
}